
.wrapperMain{
    border: 1px solid black;
    margin: 0 auto;
    max-width: 450px;
    min-height: 300vh;
    
    
}


header{
    font-family: Roboto1;
    color: white;
    background-color: #161616;
    width: 100%;
    height: 90px;
    max-width: 450px;
    position: fixed;
    z-index: 90;
    top: 0px;
}

h1{
    font-size: 1.5em;
    margin: auto;
    margin-top: 25px;
    float: right;
    color: white;
    
    
    
}
.Logo {
    width: 50px;
 //   margin-left: 25%;
    float: left;
    margin-top: 10px;

        
}
.Strich {
    width: 1.5px;
    margin: 5px 10px auto 10px;
    float: left;
}
.LogoFont{
    //border: 1px solid white;
    height: 50px;
    width: 50px;
    margin: 10px auto auto auto;
    
}

.Striche{
    width: 35px;
    position: absolute;
    top: 25px;
    left: 10px;
}

.clear{
    clear: both;
}

main{

    height: 100vh;
    position: relative;
    margin-top: 120px;
    
}


.wrapperText{ 
    //border: 2px solid black;
    margin: 20px;
    position: relative;
}
h2{
    width: 170px;
    font-family: Roboto1;
    font-size: 1.6em;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 7px solid #FECD25;
    
}
.bench{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  
}
p{
    font-family: Roboto2;
    width: 279px;
    margin: auto;
    margin-top: 20px;
}
.hyperlinks{
    margin: 20px auto;
    width: 279px;
    padding-bottom: 50px;
    display: flex;
    justify-content:center;
    align-items: flex-start; 
    flex-direction:row;
    flex-wrap: 0;
      
}


.hyperlinkAe{
    margin: 5px;
    width: 70px;
    border: 3px solid black;
    border-radius: 15px;
    outline: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.30);
  
    
    
}


.hyperlinkAe:hover {
      box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    
    

}  
.hyperlinkAe:focus{
    transform: scale(2);
}





h6{
    font-family: Roboto1;
    font-size: 1.2em;
    cursor: pointer;
    display: inline;
    line-height: 50px;
    border-bottom: 5px solid #FECD25;
}


p1{
    font-family: Roboto2;
    
}

.aufwaermenVideo{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  margin-bottom: 10px;
  margin-top: 20px;
}
.aufwaermenVideo iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  
}



p2{
    font-family: Roboto2;
}

.vorbereitungVideo{
position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  margin-bottom: 10px;
  margin-top: 20px;

}
.vorbereitungVideo iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}



.ausfuehrungVideo{
position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  margin-bottom: 10px;
  margin-top: 20px;

}
.ausfuehrungVideo iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}










.gotop{
    position: absolute;
    right: 20px;
    

}
.gottoparrow{
    width: 50px;
}
.gotopcontainer{
    position: fixed;
     width: 100%;
    max-width: 450px;
    top: 200px;
}


