.wrapperMain {
  border: 1px solid black;
  margin: 0 auto;
  max-width: 450px;
  min-height: 100vh;
  transition: 0.5s;
}
.wrapperMain.active {
  background-color: black;
}
header {
  font-family: Roboto1;
  background-color: #161616;
  width: 450px;
  position: fixed;
  height: 90px;
  margin-top: 0px;
  overflow: hidden;
}
main {
  margin-top: 90px;
}

h1 {
  font-size: 1.5em;
  float: right;
  color: white;
}
.Logo {
  width: 50px;
}
.Strich {
  width: 1.5px;
}
.LogoFont {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-menu {
  top: 0;
  position: fixed;
  left: -100%;
  width: 80%;
  height: 100%;
  flex-direction: column;
  background-color: #161616;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
nav-item {
  font-size: 1.7em;
}
.firt-nav-item {
  margin-top: 80px;
  font-size: 1.7em;
  padding: 20px;
}
.nav-item {
  padding: 20px;
  font-size: 1.7em;
}
.nav-menu.active {
  left: 0;
}

a {
  color: white;
  text-decoration: none;
}

.Hamburger {
  display: block;
  position: absolute;
  top: 34%;
  left: 10%;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: 0.3s;
}
.Hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.Hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.Hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.platzhalter {
  float: left;
  width: 40%;
  margin: 20px 5px 10px 20px;
  box-shadow: 20px 20px 20px;
}
.platzhalter02 {
  float: right;
  width: 40%;
  margin: 20px 20px 10px 5px;
}
