.wrapperMain {
  /*border: 1px solid black;*/
  margin: 0 auto;
  max-width: 100vw;
  min-height: 100vh;
}

header {
  font-family: Roboto1;
  background-color: #161616;
  width: 100vw;
  position: fixed;
  height: 13vh;
  top: 0;
  overflow: hidden;
}
.nav-menu {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #2b2d2f;
  transition: 0.3s;
  display: flex;
  /*align-items: center;*/
  align-items: center;
  /*border-radius: 0px 40px 40px 40px;*/
  border-top: 1px solid #424245;
}
.nav-menu.active {
  top: 13vh;
}
.line {
  margin-top: 10px;
  display: block;
  height: 1px;
  width: 70vw;
  background-color: #fecd25;
  opacity: 0%;
  transition: 0.3s;
  transition-delay: 0.2s;
}
.line.active {
  opacity: 100%;
}
.first-nav-item {
  font-size: 1.2em;
  padding: 10px 70px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.nav-item {
  padding: 10px 70px;
  font-size: 1.2em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.last-nav-item {
  margin-bottom: 80px;
  padding: 10px 70px;
  font-size: 1.2em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.nav-link {
  color: white;
  text-decoration: none;
  /*border-style: solid;*/
}

.Hamburger {
  display: block;
  position: absolute;
  top: 34%;
  left: 5%;
  z-index: 10;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: 0.3s;
}
.Hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.Hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.Hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

main {
  margin-top: 90px;
}

h1 {
  font-size: 1.5em;
  float: right;
  color: white;
}
.Logo {
  width: 50px;
}
.Strich {
  width: 1.5px;
}
.LogoFont {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #161616;
  transition: 0.3s;
}
.LogoFont.active {
  background-color: #2b2d2f;
}

/*.blackbackground {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}
.blackbackground.active {
  background-color: black;
  opacity: 90%;
  width: 100%;
  display: flex;
}*/

.platzhalter {
  float: left;
  width: 40%;
  margin: 20px 5px 10px 20px;
  /*box-shadow: 20px 20px 20px;*/
}
.platzhalter02 {
  float: right;
  width: 40%;
  margin: 20px 20px 10px 5px;
}
