* {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.wrapperMain {
  width: 100vw;
  justify-content: center;
  background-color: #f5f5f7;
}

header {
  font-family: Roboto1;
  background-color: #161616;
  width: inherit;
  position: fixed;
  height: 93px;
  top: 0;
  z-index: 5;
  display: table;
  box-shadow: 0px 5px 11px 2px rgb(0 0 0 / 48%);
}
.nav-menu {
  display: flex;
  background-color: #2b2d2f;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.first-nav-item,
.nav-item,
.last-nav-item {
  margin: 25px;
  font-family: Roboto2;
}

.nav-link {
  text-decoration: none;
  color: white;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  background-color: #fecd25;
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -5px;
  transition: 0.2s;
}
.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  transition: 0.2s;
}

h1 {
  font-size: 1.5em;
  float: right;
  color: white;
}
.Logo {
  width: 50px;
}
.Strich {
  width: 1.5px;
  height: 50px;
  background-color: white;
}
.LogoFont {
  width: 100%;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #161616;
  transition: 0.3s;
}
.LogoFont.active {
  background-color: #2b2d2f;
}

/*.blackbackground {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}
.blackbackground.active {
  background-color: black;
  opacity: 90%;
  width: 100%;
  display: flex;
}*/
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 133px;
  width: 80%;
}
.linkUebung {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 180px;
  margin: 30px;
  background-color: white;
  border-radius: 1.7em;
  box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 20%);
  align-items: center;
  transition: 0.5s;
}
.linkUebung:hover {
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
  transform: scale(1.1);
}
.linkUebung:hover .platzhalter02 {
  transform: scale(1.1);
}
.linkUebung:hover .LogoFont {
  z-index: 10;
}

p {
  text-align: center;
  font-family: Roboto1;
  color: black;
  font-size: 1.2em;
  margin-bottom: 5%;

  transition: 0.5s;
}

/*.platzhalterBox{
  width: 15%;
  margin: 4%;
  border: 2px solid black;
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}*/
.platzhalter02 {
  align-items: center;
  width: 90%;
  transition: 0.5s;
  z-index: 0;
}

/*














*/
footer {
  width: 100%;
  height: auto;
  background-color: #2b2d2f;
  padding-top: 10px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: Roboto2;
}
.footer-content h3 {
  font-size: 1.2em;

  line-height: 3rem;
  color: #cacdd2;
}
.footer-content p {
  font-size: 14px;
  color: #cacdd2;
  font-family: Roboto2;
  margin-bottom: 10px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
  transition: 0.5s;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: #fecd25;
}
.socials a:hover {
  border-color: #fecd25;
}

.footer-bottom {
  background: #000;

  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: #cacdd2;
  margin-bottom: initial;
}
.footer-bottom p a {
  color: #fecd25;
  font-size: 14px;
  text-decoration: none;
}

.footer-menu {
  float: right;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
  font-family: Roboto1;
  transition: 0.4s;
}

.footer-menu ul li a:hover {
  color: #fecd25;
}
.gotop {
  position: sticky;
  bottom: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}
.gotop a {
  display: flex;
  float: right;
}

.gotopArrow {
  width: 40%;
  background-color: #2b2d2f;
  border: 6px solid #2b2d2f;
  border-radius: 50%;
  box-shadow: 1px 1px 15px 1px rgb(0 0 0 / 50%);
  transition: 0.4s;
}
.gotopArrow:hover {
  background-color: #fecd25;
  border: 6px solid #fecd25;
  transform: scale(1.1);
}

/*

https://www.foolishdeveloper.com/2021/09/responsive-footer-design.html








 
*/

@media (max-width: 650px) {
  main {
    max-width: 447px;
    margin-top: 93px;
    padding-top: 28px;
    width: initial;
  }
  .platzhalter02 {
    width: 88%;
  }
  .linkUebung {
    width: 150px;
    margin: 10px auto;

    border-radius: 1.75em;
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 20%);
  }
  .linkUebung:hover {
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 20%);
    transform: scale(1);
  }
  .linkUebung:hover .platzhalter02 {
    transform: scale(1);
  }
  p {
    font-size: 1.2em;
  }
  .nav-menu {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #2b2d2f;
    transition: 0.3s;
    display: flex;
    /*align-items: center;*/
    align-items: center;
    /*border-radius: 0px 40px 40px 40px;*/
    border-top: 1px solid #424245;
    z-index: -1;
    justify-content: flex-start;
  }
  .nav-menu.active {
    top: 88px;
  }
  .line {
    margin-top: 10px;
    display: block;
    height: 1px;
    width: 70vw;
    background-color: #fecd25;
    opacity: 0%;
    transition: 0.3s;
    transition-delay: 0.2s;
  }
  .line.active {
    opacity: 100%;
  }
  .first-nav-item {
    font-size: 1.2em;
    padding: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin: initial;
  }
  .nav-item {
    padding: 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin: initial;
  }
  .last-nav-item {
    margin-bottom: 80px;
    padding: 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin: initial;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    /*border-style: solid;*/
  }

  .Hamburger {
    display: block;
    position: absolute;
    top: 34%;
    left: 5%;
    z-index: 10;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: 0.3s;
  }
  .Hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .Hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .Hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .footer-bottom p a {
    color: #fecd25;
    font-size: 12px;
    text-decoration: none;
  }
  .footer-bottom p {
    font-size: 12px;
  }
  .footer-menu ul li a {
    font-size: 12px;
  }
  .footer-menu ul li a:hover {
    color: #cfd2d6;
  }
  .socials a:hover i {
    color: unset;
  }
  .socials a:hover {
    border-color: unset;
  }
  .gotopArrow {
    display: none;
  }
}
