
.wrapperMain{
    border: 1px solid black;
    margin: 0 auto;
    max-width: 450px;
    min-height: 100vh;
    
}

header{
    font-family: Roboto1;
    color: white;
    background-color: #161616;
    width: 100%;
    //min-height: 100px;
    height: 120px;
    margin-top: 0px;
    overflow: hidden;
    //text-align: center;
    position: relative;
}

h1{
    font-size: 1.5em;
    margin: auto;
    margin-top: 25px;
    float: right;
    color: white;
    
    
    
}
.Logo {
    width: 50px;
 //   margin-left: 25%;
    float: left;
    margin-top: 10px;

        
}
.Strich {
    width: 1.5px;
    margin: 5px 10px auto 10px;
    float: left;
}
.LogoFont{
    //border: 1px solid white;
    height: 70px;
    width: 197px;
    //margin-left: 90px;
    //margin-right: 20%;
    margin: 30px auto 10px auto;
    
}

.Striche{
    width: 35px;
    position: absolute;
    top: 45px;
    left: 10px;
}

.clear{
    clear: both;
}


.wrapperText{ 
    //border: 2px solid black;
    margin: 20px;
    position: relative;
}
h2{
    text-align: center;
    font-family: Roboto1;
    font-size: 1.5em;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 8px solid #FECD25;
    
}
.bench{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  
}

.containerZusammenfassung{
    //display: flex;
    //width: 100%;
}

.zusammenfassungArrow{
    float: right;
    margin-top: 10px;
    //transform: rotate(0deg);
    
}

h6{
    font-family: Roboto1;
    font-size: 1.3em;
    cursor: pointer;
    display: inline;
    line-height: 50px;
}


p1{
    font-family: Roboto2;
    display: none;
    
}

.zusammenfassungvideo{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  margin-bottom: 10px;
  margin-top: 20px;
    display: none;
}
.zusammenfassungvideo iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
.aufwaermenArrow{
    float: right;
    margin-top: 10px
}


p2{
    font-family: Roboto2;
    display: none;
}

.aufwaermenvideo{
position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  margin-bottom: 10px;
  margin-top: 20px;
    display: none;
}
.aufwaermenvideo iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%; 

