.hyperlinkAe {
    animation-name: startAnimation;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
}

#hyperlinkAuf {
    animation-delay: 0.7s
}

#hyperlinkVo {
    animation-delay: 0.9s
}

#hyperlinkAus {
    animation-delay: 1.1s
}

@keyframes startAnimation {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.15)
    }
    100% {
        transform: scale(1)
    }
}