.wrapperMain {
  margin: 15vh auto;
  width: 100%;
  height: 300vh;
  display: block;
}

header {
  font-family: Roboto1;
  background-color: #161616;
  width: inherit;
  position: fixed;
  height: 13vh;
  top: 0;
  overflow: hidden;
  z-index: 1;
}
.nav-menu {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #2b2d2f;
  transition: 0.3s;
  display: flex;
  /*align-items: center;*/
  align-items: center;
  /*border-radius: 0px 40px 40px 40px;*/
  border-top: 1px solid #424245;
}
.nav-menu.active {
  top: 13vh;
}
.line {
  margin-top: 10px;
  display: block;
  height: 1px;
  width: 70vw;
  background-color: #fecd25;
  opacity: 0%;
  transition: 0.3s;
  transition-delay: 0.2s;
}
.line.active {
  opacity: 100%;
}
.first-nav-item {
  font-size: 1.2em;
  padding: 10px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.nav-item {
  padding: 10px;
  font-size: 1.2em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.last-nav-item {
  margin-bottom: 80px;
  padding: 10px;
  font-size: 1.2em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.nav-link {
  color: white;
  text-decoration: none;
  /*border-style: solid;*/
}

.Hamburger {
  display: block;
  position: absolute;
  top: 34%;
  left: 5%;
  z-index: 10;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: 0.3s;
}
.Hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.Hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.Hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

h1 {
  font-size: 1.5em;
  margin: auto;
  margin-top: 25px;
  float: right;
  color: white;
}
.Logo {
  width: 50px;

  float: left;
  margin-top: 10px;
}

.LogoFont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LogoFont.active {
  background-color: #2b2d2f;
}

.Striche {
  width: 35px;
  position: absolute;
  top: 25px;
  left: 10px;
}

.wrapperText {
  margin: 20px;
  position: relative;
}
h2 {
  width: 170px;
  font-family: Roboto1;
  font-size: 1.6em;
  /*text-align: right;
  padding-right: 20px;*/
  padding-left: 15px;
  padding-bottom: 10px;
  border-bottom: 7px solid #fecd25;
}
.img_Hyplerlinks {
  display: flex;
  justify-content: center;
  gap: 10vh;
}
.bench {
  margin-top: 20px;
  width: 40%;
  height: 50%;
  margin-bottom: auto;
  margin-top: auto;
}

p {
  font-family: Roboto2;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
.hyperlinks {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.hyperlinkAe {
  margin: 10px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.hyperlinkAe:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h6 {
  font-family: Roboto1;
  font-size: 1.2em;
  cursor: pointer;
  display: inline;
  line-height: 50px;
  border-bottom: 5px solid #fecd25;
}

p1 {
  font-family: Roboto2;
}
p2 {
  font-family: Roboto2;
}

.aufwaermenVideo {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 10px;
  margin-top: 20px;
}
.aufwaermenVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vorbereitungVideo {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 10px;
  margin-top: 20px;
}
.vorbereitungVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ausfuehrungVideo {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 10px;
  margin-top: 20px;
}
.ausfuehrungVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.gotop {
  position: absolute;
  right: 20px;
}
.gottoparrow {
  width: 50px;
}
.gotopcontainer {
  position: fixed;
  width: 100%;
  max-width: 450px;
  top: 200px;
}*/
@media (max-width: 600px) {
  .img_Hyplerlinks {
    display: block;
  }
  .bench {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 290px;
    height: auto;
  }
  .hyperlinkAe {
    margin: 10px;
    width: 190px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  .hyperlinks {
    margin: 20px auto;
    width: 279px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .aufwaermenVideo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .aufwaermenVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .vorbereitungVideo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .vorbereitungVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .ausfuehrungVideo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .ausfuehrungVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
