.wrapperMain {
  margin-top: 133px;
  width: 100%;
  background-color: #f5f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  font-family: Roboto1;
  background-color: #161616;
  width: inherit;
  position: fixed;
  height: 93px;
  top: 0;
  z-index: 5;
}

.nav-menu {
  display: flex;
  background-color: #2b2d2f;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.first-nav-item,
.nav-item,
.last-nav-item {
  margin: 25px;
  font-family: Roboto2;
}

.nav-link {
  text-decoration: none;
  color: white;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  background-color: #fecd25;
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}

h1 {
  font-size: 1.5em;
  margin: auto;
  margin-top: 25px;
  float: right;
  color: white;
}
.Logo {
  width: 50px;

  float: left;
}
.strichHeader {
  width: 1.5px;
  height: 50px;
  background-color: white;
}
.backArrow {
  position: absolute;
  right: 5%;
  bottom: 30px;
  width: 30px;
}

.LogoFont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.LogoFont.active {
  background-color: #2b2d2f;
}
main {
  width: 80%;
}

.Striche {
  width: 35px;
  position: absolute;
  top: 25px;
  left: 10px;
}

.wrapperText {
  margin: auto;
  position: relative;
}
h2 {
  font-family: Roboto1;
  font-size: 1.4em;
  /*text-align: right;
  padding-right: 20px;*/
  color: white;
  padding: 5px;
}
.img_Hyplerlinks {
  display: flex;
  justify-content: center;
  gap: 10vh;
}
.bench {
  margin-top: 20px;
  width: 40%;
  height: 50%;
  margin-bottom: auto;
  margin-top: auto;
}

.hyperlinks {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.hyperlinkAe {
  margin: 10px;
  width: 300px;
  background-color: white;
  border-radius: 25px;
  outline: none;
  box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 20%);
  transition: 0.5s;
}

.hyplerLinkText {
  text-align: center;
  font-family: Roboto1;
  color: black;
  font-size: 1.45em;
  position: absolute;
}
.hyperlinkA {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.hyperlinkA:hover .hyperlinkAe {
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 30%);
  transform: scale(1.05);
}

h6 {
  font-family: Roboto1;
  font-size: 1.8em;
  margin-top: 80px;
  text-align: center;
}

.text {
  font-family: Roboto2;
  line-height: 1.5;
  font-size: 1.3em;
  width: 50%;
}
.contentStyle {
  margin: auto;
  display: flex;
  margin: 40px;
  align-items: flex-start;
  gap: 20px;
  padding-top: 20px;
  border-top: 2px solid rgba(254, 205, 37, 0.5);
}
.videoWrapper {
  width: 50%;
}

.aufwaermenVideo {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.aufwaermenVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vorbereitungVideo {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.vorbereitungVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ausfuehrungVideo {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.ausfuehrungVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.gotop {
  position: absolute;
  right: 20px;
}
.gottoparrow {
  width: 50px;
}
.gotopcontainer {
  position: fixed;
  width: 100%;
  max-width: 450px;
  top: 200px;
}*/

@media (max-width: 1500px) {
  .contentStyle {
    flex-wrap: wrap;
    margin: 20px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  .videoWrapper {
    width: 100%;
  }
  .text {
    width: 100%;
  }
  h6 {
    margin-bottom: 8px;
  }
}

@media (max-width: 600px) {
  .wrapperMain {
    width: 100%;
    margin-top: 93px;
  }
  main {
    width: initial;
  }

  .nav-menu {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #2b2d2f;
    transition: 0.3s;
    display: flex;
    /*align-items: center;*/
    align-items: center;
    /*border-radius: 0px 40px 40px 40px;*/
    border-top: 1px solid #424245;
    z-index: -1;
    justify-content: flex-start;
  }
  .nav-menu.active {
    top: 88px;
  }
  .line {
    margin-top: 10px;
    display: block;
    height: 1px;
    width: 70vw;
    background-color: #fecd25;
    opacity: 0%;
    transition: 0.3s;
    transition-delay: 0.2s;
  }
  .line.active {
    opacity: 100%;
  }
  .first-nav-item {
    font-size: 1.2em;
    padding: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin: initial;
  }
  .nav-item {
    padding: 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin: initial;
  }
  .last-nav-item {
    margin-bottom: 80px;
    padding: 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin: initial;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    /*border-style: solid;*/
  }

  .Hamburger {
    display: block;
    position: absolute;
    top: 37%;
    left: 5%;
    z-index: 10;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: 0.3s;
  }
  .Hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .Hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .Hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .img_Hyplerlinks {
    display: block;
  }
  .bench {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 290px;
    height: auto;
  }

  .hyperlinkAe {
    width: 230px;
    border-radius: 15px;
  }
  .hyperlinks {
    margin: 20px auto;
    width: 279px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  h6 {
    font-size: 25px;
  }
  .contentStyle {
    width: 90%;
  }

  .text {
    width: 100%;
    font-size: 16px;
    line-height: 1.7;
  }
}
